<h3>Your Reminders</h3>
<em *ngIf="!reminders.length">No reminders yet...! Your good.</em>
<a [routerLink]="['Add']" class="btn btn-default">Add</a>
<table class="table table-condensed table-striped" *ngIf="reminders.length">
  <thead>
    <tr>
      <th>

      </th>
      <th>
        Reminder
      </th>
      <th>
        Created
      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="#item of reminders">
      <td>
        <input #chk type="checkbox" (click)="markItemDone(item, chk.checked)">
      </td>
      <td>
        <stext [strike]="item.isDone" [text]="item.title"></stext>
      </td>
      <td>
        {{item.created | date}}
      </td>
    </tr>
  </tbody>
</table>
